---
export const prerender = true;
import Hero from "../components/Hero.astro";

import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home Page">
  <main>
    <Hero />
    <h2>Home</h2>
  </main>
</MainLayout>
